.form-group {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 18px;
    margin-bottom: 18px;
    
    label {
        display: flex;
        flex: 1;
        font-size: 14px;
        color: var(--main-secondary-color);
        align-items: center;
        justify-content: flex-end;
        position: relative;


        &::after {
            content: ":"
        }
    }

    input:not([type="checkbox"]):not([type="radio"]),
    select,
    textarea,
    .form-file__button,
    .select {
        border: none;
        outline: none;
        display: flex;
        padding: 12px;
        align-items: center;
        flex: 1 0 0;
        border-radius: 8px;
        border: 1px solid var(--color-4);
        background-color: var(--color-4);
        color: var(--color-12);
        font-size: 14px;
        font-weight: 600;
        position: relative;
        transition: all 0.2s ease-in-out;
        resize: none;

        height: 42px;

        &:active,
        &:focus {
            border: 1px solid var(--color-7);
            background-color: var(--color-5);
        }

        // placeholder
        &::-webkit-input-placeholder {
            color: var(--color-7);
            font-weight: 400;
        }
    }
}

.form-group {
    input:not([type="checkbox"]):not([type="radio"]),
    select,
    textarea,
    .select .select__content input {
        &.input-error {
            color: var(--color-12);
            background-color: var(--color-2);
            border-color: var(--color-14);
        }
    }

    &.form-checkbox {
        gap: 10px;
        display: flex;
        flex-direction: row;

        label: {
            width: auto;
            cursor: pointer;
        }

        .form-checkbox__holder {
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: 1px solid var(--color-9);
            background-color: var(--color-4);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;


            input {
                opacity: 0;
                position: absolute !important;
                top: 0;
                left: 0;
                width: 100%;
                height: 100% !important;
                cursor: pointer;
                z-index: 2;
                padding: 0 !important;
            }

            .form-checkbox__icon {
                width: 12px;
                height: 12px;
                border-radius: 2px;
                background-color: transparent;
                transition: all 0.2s ease-in-out;
                position: relative;

                &.checked {
                    background-color: var(--color-8);
                }
            }
        }
    }
}


.form-group {
    .select {
        gap: 0;
        padding: 0;

        > {
            z-index: 2;
        }

        .form-control {
            cursor: pointer;
            width: 100%;
            height: 100%;
            position: absolute;
            border: none;
            display: block;
            appearance: none;
            // disable input enter
            pointer-events: none;
            z-index: 1;

            // prevent chrome autofill and ugly background color
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 30px var(--color-5) inset !important;
                -webkit-text-fill-color: var(--color-12) !important;
            }

            

            &.form-control-editable {
                pointer-events: auto;
            }
        }

        .select__content {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 8px;

            input {
                background-color: transparent;
            }

            &.active {
                background-color: var(--color-5);
                border-color: var(--color-7);
            }
        }

        .select__dropdown {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            margin-top: 3px;
            cursor: pointer;
            z-index: 2;
        }

        .select__options {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: var(--color-4);
            border-radius: 8px;
            border: 1px solid var(--color-4);
            z-index: 4;
            margin-top: 8px;
            box-shadow: var(--input-dropdown-box-shadow);
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            height: auto;
            transition: all .3s ease-in-out;

            .select__option {
                padding: 12px;
                font-size: 14px;
                font-weight: 600;
                color: var(--color-12);
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                position: relative;
                display: grid;
                grid-template-columns: 1fr 16px;
                gap: 10px;

                &.selected,
                &:hover {
                    background-color: var(--color-5);
                }

                &.selected .select__options__icon {
                    display: flex;
                    right: 10px;
                    width: 16px;
                    height: 16px;
                    line-height: 0;
                    align-items: center;
                    justify-content: center;
                }

               
            }

            &.select__options__opened {
                max-height: 200px;
                overflow-y: auto;
                opacity: 1;
            }

            &.select__options__opened_temporary {
                max-height: 200px;
                overflow-y: auto;
                opacity: 1;
                transition: none;
            }

            // customize scrollbar 
            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                background: var(--color-4);
                border-radius: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--color-5);
                border-radius: 8px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: var(--color-5);
            }

            &::-webkit-scrollbar-thumb:active {
                background: var(--color-5);
            }
        }
    }
}


.form-file {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .form-file__button {
        position: relative;
        width: 120px;
        border-radius: 8px;
        padding: 0;
        cursor: pointer;
        display: block;
        flex: none;
        background-color: var(--color-4);

        input {
            opacity: 0;
            position: absolute !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100% !important;
            cursor: pointer;
            z-index: 2;
            padding: 0 !important;
        }

        .form-file__button__text {
            position: absolute;
            top: 50%;
            left: 10px;
            right: 10px;
            text-align: center;
            transform: translateY(-50%);
            color: var(--color-12);
            font-weight: 600;
            font-size: 14px;
            z-index: 1;
            cursor: pointer;
        }

        &:hover {
            background-color: var(--color-5);
        }
    }

    .form-file__preview {
        width: 100%;
        background-color: var(--color-1);
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &.input-error {
            border: solid 1px var(--color-14);
        }

        figure {
            width: auto;
            max-width: 100%;
            max-height: 100%;
            height: auto;

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 200px;
            }
        }
    }

    .form-file__url {
        display: flex;
        flex-direction: column;
        gap: 18px;

        input {
            height: 42px;
            width: 100%;
        }
    }
}


/* Form Page */
.form-page {
    overflow: hidden;
    overflow-y: auto;

     // customize scrollbar 
     &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-4);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-5);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-5);
    }

    &::-webkit-scrollbar-thumb:active {
        background: var(--color-5);
    }

    .form-page__page {
        display: none;
        padding: 24px;

        &.form-page__active {
            display: block;
        }
        
    }
}