:root {

    --color-1: #3C0054;
    --color-2: #4E036C;
    --color-3: #540474;
    --color-4: #5F037E;
    --color-5: #6B048C;
    --color-6: #8A06BF;
    --color-7: #AF08F2;
    --color-8: #FF7170;
    --color-9: #FF8E8E;
    --color-10: #FFFFFFA3;
    --color-11: #FFFFFF8F;
    --color-12: #FFFFFF;
    --color-13: #FF7170A3;
    --color-14: #c71919;
    --color-15: #209B25;
    --color-16: rgba(0, 0, 0, 0.5);
    --color-17: #4A0267;
    --color-18: #FFFFFFB8;
    --color-19: #FF7070;


    --main-font: 'Inter', sans-serif;

    --main-title-size: 56px;
    --main-title-weight: 600;
    --section-title-size: 24px;
    --section-title-weight: 600;
    --main-button-font-size: 16px;
    --main-button-font-weight: 600;
    --main-button-border-radius: 5px;
    --main-tab-font-size: 1rem;
    --main-tab-font-weight: 400;
    --catalog-img-width: 120px;
    --catalog-img-height: 120px;
    --catalog-item-price-font-size: 18px;
    --catalog-item-price-font-weight: 700;
    --input-dropdown-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.6);
}